config ZMK_BLE
	default y

config ZMK_USB
	default y

config ZMK_SPLIT
	default y

if SHIELD_ERGOTRAVEL_LEFT

config ZMK_KEYBOARD_NAME
    default "Ergotravel"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif


