/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define TRI     3

&gresc {
    keep-mods = <(MOD_LSFT)>;
};

/ {
    behaviors {
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&gresc     &mt Q NUMBER_1  &kp W  &kp E     &kp R  &kp T      &kp INS    &kp PG_UP  &kp Y      &kp U  &kp I      &kp O   &kp P     &kp BSLH
&kp TAB    &kp A           &kp S  &kp D     &kp F  &kp G      &kp DEL    &kp PG_DN  &kp H      &kp J  &kp K      &kp L   &kp SEMI  &kp SQT
&kp LSHFT  &kp SLASH       &kp Z  &kp X     &kp C  &kp V      &none                 &kp B      &kp N  &kp M      &kp LT  &kp DOT   &kp RSHFT
&kp LCTRL  &none           &none  &kp LALT         &mo LOWER  &kp SPACE  &kp SPACE  &mo RAISE         &kp COMMA  &kp UP  &kp DOWN  &kp RIGHT
            >;
        };

        lower_layer {
            bindings = <
&trans  &none  &kp F1  &kp F2   &kp F3   &kp F4     &kp PRINTSCREEN  &none      &kp KP_PLUS   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_MULTIPLY  &kp BACKSPACE
&trans  &none  &kp F5  &kp F6   &kp F7   &kp F8     &kp K_MENU       &none      &kp KP_MINUS  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_DIVIDE    &kp SQT
&trans  &none  &kp F9  &kp F10  &kp F11  &kp F12    &none                       &none         &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_DOT       &kp RSHFT
&trans  &none  &none   &trans            &mo LOWER  &kp SPACE        &kp ENTER  &mo RAISE                      &kp KP_NUMBER_0  &kp UP           &kp DOWN         &kp RIGHT
            >;
        };

        raise_layer {
            bindings = <
&trans  &none      &none  &none   &none  &none      &none      &none      &none      &none  &none      &none   &none     &none
&trans  &none      &none  &none   &none  &none      &none      &none      &none      &none  &none      &none   &none  &none
&trans  &none  &none  &none   &none  &none      &none                 &none      &none  &none      &none  &none   &none
&trans  &none      &none  &trans         &mo LOWER  &none  &none  &mo RAISE         &none  &none  &none  &none
            >;
        };

        tri_layer {
            bindings = <
&trans  &none  &none  &none   &none  &none      &none   &none      &none      &none  &none      &none   &none     &none
&trans  &none  &none  &none   &none  &none      &none      &none      &none      &none  &none      &none   &none  &none
&trans  &none  &none  &none   &none  &none      &none                 &none      &none  &none      &none  &none   &none
&trans  &none  &none  &trans         &mo LOWER  &none  &none  &mo RAISE         &none  &none  &none  &none
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
